page-promot-list {
    .back {
        background: none;
        width: 25px;
        height: 23px;
        padding: 0;
        float: left;
        margin: 0;
        ion-icon {
            i {
                font-size: 35px;
            }
        }
    }
    ion-list {
        margin-bottom: 10px !important;
        ion-item {
            padding-left: 0 !important;
            margin-bottom: 5px !important;
            &.item-ios ion-avatar,
            &.item-md ion-avatar {
                min-width: 55px;
                min-height: 55px;
                margin-right: 5px !important;
                width: 36px;
                float: left;
                img {
                    width: 55px;
                    height: 55px;
                }
            }
            .item-inner {
                border: 1px solid #dbb7bf !important;
                border-radius: 3px;
                .label-md,
                .label-ios {
                    margin: 6px;
                    .row {
                        /*margin-bottom: 5px;*/
                        .col {
                            padding: 0;
                            color: #be181b;
                            font-size: 14px;
                            label {
                                font-size: 14px;
                                color: #8a8989;
                                padding-right: 5px;
                                &.id_label {
                                    text-transform: uppercase;
                                }
                            }
                        }
                        &.amount_block {
                            height: 100%;
                            .col {
                                font-size: 18px;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                            }
                        }
                    }
                }
                .input-wrapper {
                    ion-label {
                        /*margin: 0;*/
                        h2 {
                            color: #cb2e31;
                            font-size: 15px;
                            margin-top: 8px;
                        }
                        /* p { overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;} */
                    }
                }
            }
        }
    }
}