page-cardpay {
    .header {
        background: linear-gradient(to right, #bd3f32 0%, #7c193d 100%) !important;
        background-color: #bd3f32;
    }
    .sub-title {
        color: #727272;
        margin-top: 0;
        font-size: 1.60rem;
        position: relative;
    }
    .sub-title::before,
    .sub-title::after {
        content: " ";
        width: 40px;
        height: 1px;
        background-color: #727272;
        display: block;
        position: absolute;
        top: 49%;
    }
    .sub-title::before {
        left: 0px;
        margin-left: 15px;
    }
    .sub-title::after {
        right: 0px;
        margin-right: 15px;
    }
    .round-box {
        .item-block {
            padding: 0px 0px;
            .item-inner {
                border-bottom: 1px solid #c4c4c4;
                ion-input {
                    color: #505050;
                    font-size: 14px;
                    font-family: 'quicksandregular';
                }
            }
        }
        .item-md.item-input.input-has-focus {
            .item-inner {
                border-bottom: 1px solid #c4c4c4;
            }
        }
    }
    .card-num {
        .input-wrapper {
            flex-direction: row-reverse;
        }
    }
    .card-icon {
        width: 25px;
        float: right !important;
        img {
            max-width: 100%;
        }
    }
    .minibox {
        width: 40%;
    }
    .minibox.right {
        clear: right;
    }
    .right {
        box-sizing: border-box;
        clear: left;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .tick {
            width: 18px;
            margin-left: 13px;
        }
        .cvv {
            width: 50px;
        }
        img {
            max-width: 100%;
        }
    }
    .scan-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #505050;
        border: 2px solid $mainbtn;
        text-align: center;
        i {
            margin-right: 10px;
        }
    }
    .term {
        .item-block .item-inner {
            border: none;
            font-size: 12px;
            font-weight: 600;
            border: none;
            color: #737373;
        }
        .input-wrapper {
            height: auto;
        }
        .checkbox {
            margin-right: 20px;
        }
        .checkbox-icon {
            border-color: #737373;
        }
    }
    /* ===card-list === */
    .card-list {
        .square-box {
            margin: 0px 0px;
            .item-block {
                padding: 0px 0px;
                .radio {
                    margin: 0px;
                    .radio-icon,
                    .radio-inner {
                        width: 0px;
                        height: 0px;
                        border: 0;
                    }
                }
                .item-inner {
                    border: 1px solid #a44c5e;
                    border-radius: 3px;
                    .label {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    .logo-wrap {
                        width: 44px;
                        margin: 0px 3px;
                        img {
                            max-width: 100%;
                        }
                    }
                    .card-number {
                        color: #505050;
                        font-size: 1.4rem;
                        margin: 0px 5px;
                    }
                    .bank {
                        font-size: 11px;
                        color: #aaa9a9;
                    }
                    .input {
                        border: 1px solid rgb(231, 228, 228);
                        border-radius: 2px;
                        color: #5c5c5c;
                        margin: 0px 10px;
                        .text-input {
                            margin: 3px;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    /* segment design */
    .filter-wrap {
        width: 94%;
        margin: 0px auto;
    }
    ion-segment {
        background-color: hsla(0, 0%, 96%, 0.2);
        border-radius: 50px;
        padding: 2px;
        height: 44px;
        min-height: 44px;
    }
    .segment-md .segment-button,
    .segment-ios .segment-button {
        background-color: hsla(0, 0%, 96%, 0);
        font-family: 'quicksandregular';
        text-shadow: none;
        border-radius: 0px !important;
        border: none;
        height: 40px;
        line-height: 41px;
        color: #ffd4d4;
        font-size: 1.3rem;
        opacity: 1;
        text-transform: capitalize;
        border-radius: 50px;
    }
    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated,
    .segment-ios .segment-button.segment-activated {
        background-color: #b51318;
        border: 1px solid hsla(0, 5%, 96%, 0);
        color: #fff;
        font-size: 1.4rem;
        border-radius: 40px !important;
    }
    .segment-ios .segment-button:not(:first-of-type) {
        border-radius: 50px;
    }
    .segment-ios .segment-button:hover:not(.segment-activated) {
        background-color: #b51318;
        border-radius: 50px;
    }
    /* segment design end */
}