page-influencer-login {
    .scroll-content {
        background-color: #f4f4f4;
    }
    .logo-wrap {
        background: linear-gradient(to right, #e52d27 0%, #b31217 100%) !important;
        background-color: #e52d27;
        height: 45vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .bars {
            position: absolute;
            top: 0px;
            right: 2%;
            width: 22%;
            img {
                max-width: 100%;
            }
        }
        .logo {
            width: 70%;
            max-width: 300px;
            text-align: center;
            display: block;
            margin: 0px auto 20px;
            img {
                max-width: 100%;
            }
        }
    }
    .button-box {
        border-radius: 0;
        position: absolute;
        width: 100%;
        background-color: transparent;
        height: 62vh;
        top: 36vh;
        left: 50%;
        transform: translateX(-50%);
        padding: 0px 16px;
        .box-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 7px;
            padding-top: 16px;
            padding-bottom: 5px;
            width: 100%;
            min-height: 32rem;
            height: 100%;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 8px 1px rgba(190, 24, 27, 0.5);
            -moz-box-shadow: 0px 0px 8px 1px rgba(190, 24, 27, 0.5);
            box-shadow: 0px 0px 8px 1px rgba(190, 24, 27, 0.5);
        }
        .box-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 600;
            color: #565656;
            text-transform: uppercase;
            img {
                max-width: 40px;
                margin-bottom: 16px;
            }
        }
        .link {
            color: #717171;
            font-size: 15px;
            font-family: 'quicksandregular';
            .red {
                color: $red-text;
            }
        }
    }
    .instagram_login {
        margin-top: 24%;
        i {
            width: 34px;
            height: 25px;
            padding-right: 10px;
            img {
                max-width: 100%;
            }
        }
    }
}